<template lang="html">
  <div>
    <ColorPalette
      :color="color1"
      :colorName="color1Name"
    />
    <ColorPalette
      class="mt-10"
      :color="newColor[newColorName]"
      :colorName="newColorName"
    />
    <ColorPalette
      class="mt-10"
      :color="color2"
      :colorName="color2Name"
    />
    <pre class="bg-gray-100 mt-10 text-gray-900 shadow-inner rounded max-w-xl p-4 overflow-scroll"><code>{{JSON.stringify(newColor, null, 2).replace(/"/g, '\'') }}</code></pre>
  </div>
</template>

<script>
import { getHue, getSat, getLig } from '~/assets/parse-hsla.js'
import ColorPalette from '~/components/ColorPalette'

export default {
  components: {
    ColorPalette
  },
  props: [
    'color1',
    'color2',
    'color1Name',
    'color2Name',
    'newColorName'
  ],
  computed: {
    shades() {
      return Object.keys(this.color1)
    },
    newColor() {
      return {
        [this.newColorName]: this.getNewColor()
      }
    }
  },
  methods: {
    getHue: getHue,
    getSat: getSat,
    getLig: getLig,
    blendHsla(hsl1, hsl2) {
      const hsl1Hue = this.getHue(hsl1),
            hsl1Sat = this.getSat(hsl1),
            hsl1Lig = this.getLig(hsl1),
            hsl2Hue = this.getHue(hsl2),
            hsl2Sat = this.getSat(hsl2),
            hsl2Lig = this.getLig(hsl2)

      return `hsla(${Math.round(((hsl1Hue) + hsl2Hue) / 2)}, ${Math.round((hsl1Sat + hsl2Sat) / 2)}%, ${Math.round((hsl1Lig + hsl2Lig) / 2)}%, 1.0)`
    },
    getNewColor() {
      return this.shades.reduce((newColor, shade) => {
        return {
          ...newColor,
          [shade]: {
            hsla: this.color2[shade]
              ? this.blendHsla(this.color1[shade].hsla, this.color2[shade].hsla)
              : null
          }
        }
      }, {})
    }
  }
}
</script>
