<template lang="html">
  <li class="flex flex-col">
    <CopyString
      class="mr-auto"
      :string="tailwindConfig"
    >
      <h3 class="font-700 tracking-3 text-2" :style="{ color: color[shades[0]].hsla }">{{ colorName.toUpperCase() }}</h3>
    </CopyString>
    <ul class="flex mt-3">
      <li
        v-for="(shade, index) in shades"
        :class="[
          index ? 'ml-5' : 'ml-auto',
        ]"
      >
        <CopyString
          class="mt-1 flex flex-col font-700 text-1"
          :style="{ color: color[shade].hsla }"
          :string="color[shade].hsla ? color[shade].hsla : 'null'"
        >
          <div
            class="h-9 w-9 rounded-1 shadow-inner"
            :style="{ backgroundColor: color[shade].hsla ? color[shade].hsla : 'hsla(0, 100%, 100%, 1.0)' }"
            :class="[color[shade].hsla ? '' : 'border border-red-600']"
          />
          <span
            class="mt-2"
            :style="{ color: color[shade].hsla }"
          >
            {{ shade }}
          </span>
        </CopyString>
      </li>
    </ul>
  </li>
</template>

<script>
import CopyString from '~/components/CopyString'
import getTailwindConfig from '~/assets/get-tailwind-config'

export default {
  components: {
    CopyString
  },
  props: [
    'color',
    'colorName'
  ],
  computed: {
    shades() {
      return Object.keys(this.color).reverse()
    },
    tailwindConfig() {
      return `${this.colorName}: ${JSON.stringify(this.getTailwindConfig(this.color, this.colorName), null, 2)}`
    }
  },
  methods: {
    getTailwindConfig: getTailwindConfig
  }
}
</script>
