<template lang="html">
  <div>
    <ColorPalette
      :color="reference"
      :colorName="referenceName"
    />
    <ColorPalette
      class="mt-10"
      :color="newColor[newColorName]"
      :colorName="newColorName"
    />
    <pre class="bg-gray-100 mt-10 text-gray-900 shadow-inner rounded max-w-xl p-4 overflow-scroll"><code>{{JSON.stringify(newColor, null, 2).replace(/"/g, '\'') }}</code></pre>
  </div>
</template>

<script>
import { getHue, getSat, getLig } from '~/assets/parse-hsla.js'
import adjustSaturationOrLightness from '~/assets/adjustSaturationOrLightness.js'
import adjustHue from '~/assets/adjustHue.js'
import ColorPalette from '~/components/ColorPalette'

export default {
  components: {
    ColorPalette
  },
  props: [
    'reference',
    'referenceName',
    'reference2',
    'reference2Name',
    'sampleShade',
    'sampleShadeName',
    'newColorName',
    'ligOverride',
    'satOverride',
    'hueOverride'
  ],
  computed: {
    shades() {
      return Object.keys(this.reference)
    },
    adjustments() {
      return this.getAdjustments(this.sampleShade, this.reference[this.sampleShadeName].hsla)
    },
    newColor() {
      return {
        [this.newColorName]: this.getNewColor()
      }
    }
  },
  methods: {
    getHue: getHue,
    getSat: getSat,
    getLig: getLig,
    getAdjustments(hsla1, hsla2) {
      const hsla1Hue = this.getHue(hsla1),
            hsla1Sat = this.getSat(hsla1),
            hsla1Lig = this.getLig(hsla1),
            hsla2Hue = this.getHue(hsla2),
            hsla2Sat = this.getSat(hsla2),
            hsla2Lig = this.getLig(hsla2)

      return {
        hue: this.hueOverride ? this.hueOverride : hsla1Hue - hsla2Hue,
        sat: this.satOverride ? this.satOverride : hsla1Sat / hsla2Sat,
        lig: this.ligOverride ? this.ligOverride : hsla1Lig / hsla2Lig,
      }
    },
    adjustShade(shade, { hue, sat, lig }) {
      const shadeHue = this.getHue(shade),
            shadeSat = this.getSat(shade),
            shadeLig = this.getLig(shade)

      return adjustHue(
        adjustSaturationOrLightness(
          adjustSaturationOrLightness(
            shade,
            lig,
            'lig'
          ),
          sat,
          'sat'
        ),
        hue
      )
    },
    getNewColor() {
      return this.shades.reduce((newColor, shade) => {
        return {
          ...newColor,
          [shade]: {
            hsla: shade === this.sampleShadeName ? this.sampleShade : this.adjustShade(this.reference[shade].hsla, this.adjustments)
          }
        }
      }, {})
    }
  }
}
</script>
