<template lang="html">
  <ul>
    <ColorPalette
      v-for="(color, index) in colors"
      :key="color"
      :class="[index ? 'mt-8' : '']"
      :color="palette[color]"
      :colorName="color"
      :shades="shades"
    />
  </ul>
</template>

<script>
import ColorPalette from '~/components/ColorPalette'

export default {
  components: {
    ColorPalette
  },
  props: {
    palette: {},
    shades: {}
  },
  computed: {
    colors() {
      return Object.keys(this.palette)
    }
  },
}
</script>
