<template lang="html">
  <button @click="copy">
    <slot />
  </button>
</template>

<script>
export default {
  props: [
    'string'
  ],
  methods: {
    copy () {
      navigator.clipboard
        // use DataTransfer
        .writeText(this.string)
    }
  }
}
</script>
