<template lang="html">
  <div>
    <ColorPalette
      :color="color"
      :colorName="colorName"
    />
    <ColorPalette
      class="mt-10"
      :color="newColor[newColorName]"
      :colorName="newColorName"
    />
    <pre class="bg-gray-100 mt-10 text-gray-900 shadow-inner rounded max-w-xl p-4 overflow-scroll"><code>{{JSON.stringify(newColor, null, 2).replace(/"/g, '\'') }}</code></pre>
  </div>
</template>

<script>
import adjustHue from '~/assets/adjustHue.js'
import ColorPalette from '~/components/ColorPalette'

export default {
  components: {
    ColorPalette
  },
  props: [
    'color',
    'colorName',
    'newColorName',
    'degrees'
  ],
  computed: {
    shades() {
      return Object.keys(this.color)
    },
    newColor() {
      return {
        [this.newColorName]: this.getNewColor()
      }
    }
  },
  methods: {
    adjustHue: adjustHue,
    getNewColor() {
      return this.shades.reduce((newColor, shade) => {
        return {
          ...newColor,
          [shade]: {
            hsla: this.adjustHue(this.color[shade].hsla, this.degrees)
          }
        }
      }, {})
    }
  }
}
</script>
