<template lang="html">
  <div>
    <ColorPalette
      :color="newColor[colorName]"
      :colorName="colorName"
    />
    <pre class="bg-gray-100 mt-10 text-gray-900 shadow-inner rounded max-w-xl p-4 overflow-scroll"><code>{{JSON.stringify(newColor, null, 2).replace(/"/g, '\'') }}</code></pre>
  </div>
</template>

<script>
import { getHue, getSat, getLig } from '~/assets/parse-hsla.js'
import ColorPalette from '~/components/ColorPalette'

export default {
  components: {
    ColorPalette
  },
  props: [
    'color',
    'colorName',
    'newShade'
  ],
  computed: {
    shades() {
      return Object.keys(this.color)
    },
    shadeNumbersSorted() {
      return this.shades.map(shade => Number(shade)).sort()
    },
    closestShades() {
      const lighterIndex = this.shadeNumbersSorted.findIndex((shade, index, shades) => shade < this.newShade && shades[index + 1] > this.newShade),
            lighter = this.shadeNumbersSorted[lighterIndex],
            darker = this.shadeNumbersSorted[lighterIndex + 1]

      return { lighter, darker }
    },
    distanceTowardDarker() {
      const { lighter, darker } = this.closestShades
      return (this.newShade - lighter) / (darker - lighter)
    },
    lighter() {
      const { lighter } = this.closestShades
      return this.color[`${lighter}`].hsla
    },
    darker() {
      const { darker } = this.closestShades
      return this.color[`${darker}`].hsla
    },
    newColor() {
      return {
        [this.colorName]: this.getNewColor()
      }
    }
  },
  methods: {
    getHue,
    getSat,
    getLig,
    getNewShade () {
      const lighterHue = this.getHue(this.lighter),
            lighterSat = this.getSat(this.lighter),
            lighterLig = this.getLig(this.lighter),
            darkerHue = this.getHue(this.darker),
            darkerSat = this.getSat(this.darker),
            darkerLig = this.getLig(this.darker),
            newHue = (darkerHue - lighterHue) * this.distanceTowardDarker + lighterHue,
            newSat = (darkerSat - lighterSat) * this.distanceTowardDarker + lighterSat,
            newLig = (darkerLig - lighterLig) * this.distanceTowardDarker + lighterLig

      return `hsla(${Math.round(newHue)}, ${Math.round(newSat)}%, ${Math.round(newLig)}%, 1.0)`
    },
    getNewColor () {
      const newShades = [...this.shadeNumbersSorted, this.newShade]
        .sort()
        .map(shade => `${shade}`)

      return newShades.reduce(
        (newColor, shade) => ({ ...newColor, [shade]: Number(shade) === this.newShade ? { hsla: this.getNewShade() } : this.color[shade] }),
        {}
      )
    }
  }
}
</script>
