<template>
  <main class="overflow-y-scroll flex">
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">TAILWIND V1 PALETTE</h2>
        <ColorPaletteList
          class="py-7"
          :palette="tailwindV1"
        />
      </div>
    </section>
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">TAILWIND V2 PALETTE</h2>
        <ColorPaletteList
          class="py-7"
          :palette="tailwindV2"
        />
      </div>
    </section>
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">AL PALETTE</h2>
        <ColorPaletteList
          class="py-7"
          :palette="al"
        />
      </div>
    </section>
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">BLEND COLORS</h2>
        <ColorBlender
          class="py-7"
          :color1="al['lake-effect']"
          :color2="tailwindV2.lightBlue"
          color1Name="blue"
          color2Name="light blue"
          newColorName="lake-effect"
        />
      </div>
    </section>
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">ADJUST SATURATION OR LIGHTNESS</h2>
        <SaturationOrLightnessAdjuster
          class="py-7"
          :color="al['lake-effect']"
          colorName="lake-effect"
          newColorName="lake-effect-gray"
          :multiplier=".65"
          mode="sat"
        />
      </div>
    </section>
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">ADJUST HUE</h2>
        <HueAdjuster
          class="py-7"
          :color="al['civil-war-dyes']"
          colorName="civil-war-dyes"
          newColorName="mountain-rain"
          :degrees="38"
        />
      </div>
    </section>
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">GET COLOR FROM SAMPLE SHADE</h2>
        <ColorFromSampleShade
          class="py-7"
          :reference="tailwindV2.blueGray"
          referenceName="blue"
          sampleShade="hsla(215, 66%, 15%, 1.0)"
          sampleShadeName="800"
          newColorName="lake-effect"
        />
      </div>
    </section>
    <section class="flex item-center justify-center h-screen w-screen p-9">
      <div class="bg-white flex flex-col rounded-2 shadow-3 overflow-scroll px-10">
        <h2 class="mt-8 text-4 font-700 tracking-3 text-gray-900">ADD SHADE</h2>
        <ShadeAdder
          class="py-7"
          :color="tailwindV1.gray"
          colorName="gray"
          :newShade="775"
        />
      </div>
    </section>
  </main>
</template>

<script>
import tailwindV1 from '~/assets/tailwind-v1-palette'
import tailwindV2 from '~/assets/tailwind-v2-palette'
import al from '~/assets/al-palette'
import ColorPaletteList from '~/components/ColorPaletteList'
import ColorBlender from '~/components/ColorBlender'
import SaturationOrLightnessAdjuster from '~/components/SaturationOrLightnessAdjuster'
import HueAdjuster from '~/components/HueAdjuster'
import ColorFromSampleShade from '~/components/ColorFromSampleShade'
import ShadeAdder from '~/components/ShadeAdder'

export default {
  components: {
    ColorPaletteList,
    ColorBlender,
    SaturationOrLightnessAdjuster,
    HueAdjuster,
    ColorFromSampleShade,
    ShadeAdder,
  },
  data () {
    return {
      tailwindV1: tailwindV1,
      tailwindV2: tailwindV2,
      al: al
    }
  },
}
</script>
